.svg-theme-icon {
  width: 80%;
  color: black;
  margin-left: auto;
  background: var(--theme-icon) no-repeat center right;
}

.todo-description {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.cross-svg {
  margin-left: auto;
  background: url(images/icon-cross.svg) no-repeat center;
  flex-basis: 1rem;
}

/* ------------------------------------------ */

.todo-detail-node {
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.todo-detail {
  font-size: 0.7rem;
  align-self: center;
  color: var(--form-font-color);
  padding: 1rem;
}

.todo-clear {
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  color: var(--form-font-color);
}

.todo-detail:hover {
  color: var(--option-hovor-color);
}

.todo-clear:hover {
  color: var(--option-hovor-color);
}

.todo-filter {
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0;
}

.todo-filter:last-child {
  border-radius: 0px;
}

.todo-filter-option {
  color: var(--fadded-text-color);
  font-weight: 800;
  padding: 1rem 0.5rem;
}

.todo-filter-option:hover {
  color: var(--option-hovor-color);
}

.todo-filter-container {
  display: flex;
}

.active-option {
  color: var(--active-option-color);
}

.active-option:hover {
  color: var(--active-option-color);
}

.todo-info {
  text-align: center;
  color: var(--fadded-text-color);
  padding: 2rem;
}

.desktop-items-left,
.desktop-clear-todo {
  display: none;
}

.todo-compleated {
  text-decoration: line-through;
  color: var(--fadded-text-color);
  transition: 0.3s;
}

@media only screen and (max-width: 390px) {
  .desktop-items-left,
  .desktop-clear-todo {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .mobile-info {
    display: none;
  }

  .desktop-items-left,
  .desktop-clear-todo {
    display: block;
  }

  .desktop-clear-todo {
    margin-left: auto;
  }

  .desktop-items-left {
    margin-right: auto;
  }
}
