.svg-theme-icon {
  width: 80%;
  color: black;
  margin-left: auto;
  background: var(--theme-icon) no-repeat center right;
}

.desktop-items-left,
.desktop-clear-todo {
  display: none;
}

@media only screen and (max-width: 390px) {
  .desktop-items-left,
  .desktop-clear-todo {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .desktop-items-left,
  .desktop-clear-todo {
    display: block;
  }

  .desktop-clear-todo {
    margin-left: auto;
  }

  .desktop-items-left {
    margin-right: auto;
  }
}
